/node_modules
/public/hot
/public/storage
/public/js 
/public/css
/storage/*.key
/vendor
/.vagrant
.env
.env.backup
.phpunit.result.cache
after.sh
aliases
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Vagrantfile