.window {
    position: fixed;
    overflow-y: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    padding-top: 1rem;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999999;
}

.window__content {
    background: $light;
    padding: 1rem;
    box-shadow: $shadow--sharp;
    margin: 1rem auto;
}
