@import 'variables';

.sidebar {
	border-bottom: 1px solid $gray;

	@media (min-width: $breakpoint-lg) {
		border-bottom: none;
		border-right: 1px solid $gray;
		min-height: calc(100vh - 3.5rem);
	}
}