@import 'variables';

.card-body--compact {
	padding: 0.75rem;
}

.sidebar {
	border-bottom: 1px solid $gray;

	@media (min-width: $breakpoint-lg) {
		border-bottom: none;
		border-right: 1px solid $gray;
		min-height: calc(100vh - 3.5rem);
	}
}

.photo-thumbnail img {
	max-width: 100%;
	height: auto;
}

.photo-grid__item {
	margin-bottom: 2rem;
}